<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="../socket.io/socket.io.js"></script>
</head>
<style>
    .contenedor_app{
    max-width: 900px;
    width: 100%;
    margin: 90px auto 0px;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgb(0 0 0 / 45%);
    padding: 50px;
    }
</style>
<body>
    <div class="contenedor_app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-xl-between" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>
                <div>
                    <a class="btn btn-secondary" href="/products">Salir del Chat</a>
                    <a class="btn btn-primary" href="/cart">Ver Carrito</a>
                    <a class="btn btn-success" href="/auth/logout">Desloguearme</a>
                </div>
            </div>
        </nav>
        <div class="formulario d-flex flex-column align-items-center">
            <h1><%= payload.name %>, aca podra chatear con nosotros.</h1>
            <br>
            <%- include('./partials/chat_box'); %>
            <%- include('./partials/socket'); %>
            <br>
            
        </div>
    </div>
</body>
</html>