<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
    .contenedor_app{
    max-width: 700px;
    width: 100%;
    margin: 90px auto 0px;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgb(0 0 0 / 45%);
    padding: 50px;
    }
    .button_cesar {
        margin: 4%;
        padding: 0.7rem;
        font-weight: bold;
        font-family: "quicksand", sans-serif;
        border: none;
        color: #ffffff;
        background-color: #11373c;
        transition: background 200ms ease-in, color 200ms ease-in;
        border-radius: 5px;
        cursor: pointer;
        width: 35%;
    }
</style>
<body>
    <div class="contenedor_app">
        <div class="formulario">
            <h1>Error al autenticar. Tus credenciales no pudieron verificarse.</h1>
            <br>
            <a class="btn btn-success my-3" href="/">Iniciar Sesion</a>
            <br>
            <a class="btn btn-success my-3" href="/register">Registrarme</a>
        </div>
    </div>
</body>
</html>