<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
    .contenedor_app{
    max-width: 700px;
    width: 100%;
    margin: 90px auto 0px;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgb(0 0 0 / 45%);
    padding: 50px;
    }
</style>
<script>
    const checkPass = () => {
        let pass = document.getElementById('password').value
        let pass_2 = document.getElementById('repeat_password').value
        let message = document.getElementById('message')
        let button = document.getElementById('register')

        if(pass == pass_2) {
            message.style.color = 'green'
            message.innerHTML = 'Las contraseñas coinciden'
            button.disabled = false
        } else {
            message.style.color = 'red'
            message.innerHTML = 'Las contraseñas no coinciden'
        }
    }
</script>
<body>
    <div class="contenedor_app">
        <div class="formulario">
            <h1>Registro</h1>
            <br>
            <form class="form" action="/create" method="post" role="form" autocomplete="off">

            <div class="form-group">
                <input id="username" name='username' placeholder="usuario" class="form-control" type="text" required>
            </div>

            <div class="form-group">
                <input id="fullname" name='fullname' placeholder="nombre completo" class="form-control" type="text" required>
            </div>

            <div class="form-group">
                <input id="email" name='email' placeholder="e-mail" class="form-control" type="text" required>
            </div>
    
    
            <div class="form-group">
                <input id="password" name='password' placeholder="password" class="form-control" type="password" required>
            </div>

            <div class="form-group">
                <input id="repeat_password" name='repeat_password' placeholder="repeat password" class="form-control" type="password" onkeyup="checkPass()" required>
            </div>
            <span id="message"></span>
            <div class="form-group">
                <input id="register" class="btn btn-success my-3" type="submit" value="Registrarse" disabled>
            </div>
            </form>
            <hr>
            <a href="/auth">Inicia sesión</a>
        </div>
    </div>
</body>
</html>