<style>
    .chat_container.active>div:last-of-type, .chat_container>div:first-of-type {
        display: block;
    }
    .chat_container.active>div:first-of-type, .chat_container>div:last-of-type {
        display: none;
    }
</style>
<div id="chat_container" class="chat_container container d-flex flex-column justify-content-center align-items-center">    
    <div>
        <form id="user_data">
            <div class="chat_container container d-flex flex-column justify-content-center align-items-center">
                <label for="user_name" class="form-label">Nombre: </label>
                <input type="text" id="user_name" placeholder="Ingresa tu nombre">
                <label for="user_last_name" class="form-label">Apellido: </label>
                <input type="text" id="user_last_name" placeholder="Ingresa tu apellido">
                <label for="user_alias" class="form-label">Usuario: </label>
                <input type="text" id="user_alias" placeholder="Ingresa tu usuario">
                <label for="user_age" class="form-label">Edad: </label>
                <input type="text" id="user_age" placeholder="Ingresa tu edad">
                <label for="user_email" class="form-label">Correo: </label>
                <input type="text" id="user_email" placeholder="Ingresa tu correo">
                <button type="submit" class="btn btn-info">Ingresar</button>
            </div>
        </form>
    </div>
    <div>
        <input type="text" id="input-text" placeholder="Escribi aca tu mensaje">
        <button id="send-socket" class="btn btn-success">Enviar</button>
        <p id="text-container" style="background-color: rgb(170, 170, 170); padding: 20px 30px; width: 100%; max-width: 500px; color: white;"></p>
    </div>
</div>