<div class="container d-flex flex-column justify-content-center">
    <h1 class="display-4">
        Bienvenido
        <small class="text-muted">Aquí podrá ver o cargar productos</small>
    </h1>
    <div class="d-flex align-content-center justify-content-center">
        <form id="add" action="../../productos" style="margin: 2rem 2rem 0rem 2rem" method="POST">
            <div class="d-flex flex-column align-items-center">
                <input type="text" name="name" class="form-control" placeholder="Nombre del Producto" style="margin-bottom: 10px;">
                <input type="number" name="price" class="form-control" placeholder="Precio del Producto" style="margin-bottom: 10px;">
                <button type="submit" class="btn btn-primary">Ingresar Producto</button>
            </div>
        </form>
        <form id="get" action="../../productos" style="margin: 2rem 2rem 0rem 2rem" method="GET">
            <div class="d-flex flex-column align-items-center">
                <input type="number" name="id" class="form-control" placeholder="Id del Producto" style="margin-bottom: 10px;">
                <button type="submit" class="btn btn-primary">Obtener Producto</button>
            </form>
        </div>           
    </div>
</div>