<br><br>
<script>
    let socket = null
    let productList = []
    let priceInput = document.getElementById('price-input')
    let nameInput = document.getElementById('name-input')
    let sendButton = document.getElementById('send-prod')
    sendButton.addEventListener('click', e=>{
        const prod = {
            name: nameInput.value,
            price: priceInput.value
        }
        socket = io()
        

    })
</script>
<div class="d-flex flex-column align-items-center mt-lg-5">
    <div id="form-container">
        <form id="prod-form">
            <div class="d-flex flex-column align-items-center">
                <input id="name-input" type="text">
                <input id="price-input" type="number">
                <button id="send-prod"></button>
            </div>
        </form>
    </div>
    <div>
        <h1 class="display-5">Listado de Productos</h1>
        
        <% if (products.length > 0) { %>
            <table class="table table-dark" style="width: auto; min-width: 50%">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                <% for(item of products){ %>
                    <tr>
                        <th scope="row"><%=item.id %></th>
                        <td><%=item.name %></td>
                        <td><%=item.price %></td>
                    </tr>
                <%}%>
        <% }  else { %>
            <p style="background-color: blue;">No hay productos</p>
        <% } %>
    </div>
</div>