<br><br>

<div class="d-flex flex-column align-items-center justify-content-center mt-lg-5">
    <div id="form-container">
        <form id="prod-form">
            <div class="d-flex flex-column align-items-center">
                <input id="name-input" type="text">
                <input id="price-input" type="number">
                <button id="send-button">Ingresar Producto</button>
            </div>
        </form>
    </div>
    <div class="d-flex flex-column align-items-center style="width: auto; min-width: 80%">
        <h1 class="display-5">Listado de Productos</h1>
        <% if (products.length > 0) { %>
            <table class="table table-dark" style="width: auto; min-width: 50%">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                <% for(item of products){ %>
                    <tr>
                        <th scope="row"><%=item.id %></th>
                        <td><%=item.name %></td>
                        <td><%=item.price %></td>
                    </tr>
                <%}%>
                </tbody>
            </table>
        <% }  else { %>
            <p style="background-color: blue;">No hay productos</p>
        <% } %>
    </div>
</div>
<script>
    let priceInput = document.getElementById('price-input')
    let nameInput = document.getElementById('name-input')
    let prodForm = document.getElementById('prod-form')
    const appendItem = (itemId, itemName, itemPrice)=>{
        const body = document.getElementById('table-body')
        body.append(`
            <tr>
                <th scope="row">${itemId}</th>
                <td>${itemName}</td>
                <td>${itemPrice}</td>
            </tr>
        `)
    }
    let socket = io()
    socket.on('sendProd', data=>{
        console.log(data)
        products = data
    })
    prodForm.addEventListener('submit', e=>{
        const newProd = {
            name: e.target[0].value,
            price: parseInt(e.target[1].value),
            id: products.length + 1
        }
        appendItem(newProd.id, newProd.name, newProd.price)
        socket.emit('loadProd', newProd)
    })
</script>